{% extends "base.html" %}

{% block title %}Post a Job - HireHub{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 800px;">

    <div class="card shadow-sm border-0 p-4">

        <h2 class="fw-bold mb-2">Post a Job</h2>

        <p class="text-muted">
            Add the job details and find suitable candidates.
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label fw-bold">Company</label>

                <select name="company" class="form-select" required>
                    <option value="">Select Company</option>

                    {% for company in companies %}
                    <option value="{{ company.id }}">
                        {{ company.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Post Job
            </button>

            <a href="{% url 'accounts:dashboard' %}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}